<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    
    <context:component-scan base-package="com.nerderg.ajaxanywhere.web.controller"/>

    <!--for custom validators-->
    <context:component-scan base-package="com.nerderg.ajaxanywhere.web.validation"/>

    <!--<mvc:annotation-driven validator="validator"/>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:i18n/messages"/>
    </bean>

    <!-- JSR-303 -->
    <!--<bean id="validator"-->
        <!--class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">-->
        <!--<property name="validationMessageSource" ref="messageSource"/>-->
     <!--</bean>-->

    <!--File upload-->
    <!--<bean id="multipartResolver"-->
        <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--</bean>-->


</beans>