html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

.container .credit {
    margin: 20px 0;
}

#main {
    margin-top: 60px;
}

.navbar a {
    font-family: 'Special Elite';
}

body.home .navbar-brand {
    color: white;
}

body.documentation ul.nav .documentation {
    color: white;
}

a.navbar-brand {
    background: url('../img/ajax-logo.png') no-repeat 20px center;
    padding-left: 60px !important;
}

#grails-plugin {
    background: url('../img/grails-icon.png') left 5px top 12px no-repeat;
    padding-left: 30px;
    margin-left: 10px;
}

#examples {
    margin-top: 70px;
}

#examples legend {
    font-family: 'Special Elite';
    color: #ba3925;
}

/* Styles related to the display tag pagination links*/
span.pagelinks {
    background-color:#F5F5F5 !important;
    border: 1px solid #E5E5E5;
    display:block;
    margin-bottom:5px;
    padding:2px 5px 5px 10px;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.pagesize {
    background-color:#EEEEEE !important;
    padding: 2px 4px 0;
}

span.pagebanner {
    background-color:#F5F5F5 !important;
    border: 1px solid #E5E5E5;
    display:block;
    padding: 5px 5px 2px 10px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

span.pagebanner-single {
    border-radius: 4px 4px 4px 4px;
}

table > thead > tr > th {
    background-color: #0088CC;
    color: #ffffff;
}

table.selectable > tbody tr {
    cursor: pointer;
}

#spinner {
    position: absolute;
    background: url('../img/ajax-loader.gif') center no-repeat;
    z-index: 10000;
    width: 32px;
    height: 32px;
}

.tocify-item.active {
    font-weight: bold;
    background-color: #0088CC;
}

.tocify-item.active a {
    color: white;
}

.tocify-item.active a:hover {
    color: inherit;
}

.code .container, .gutter {
    display: inline-block !important;
}

a.countrySelect {
    display: block;
    width: 100%;
}